<div class="container-fluid">
  <div class="row">
    <div>
      <h1>プライバシーポリシー編集</h1>
    </div>
    <div>
      <h4><%= link_to "編集方法(マークダウン記法)はこちら", markdown_path %></h4>
    </div>
  </div>
</div>
<% provide(:btn_text, "更新") %>

  <div class="container-fluid text-center">
    <%= form_with model: @privacy_policy, url: users_privacy_policy_path, local: true do |f| %>
      <%= f.text_area :content, class: "form-control my-2", rows: "94" %>
      
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-lg btn-primary" %>
      <%= link_to "戻る", "#", class: "btn btn-md btn-lg btn-default" %>
      <%# TODO:  "#" に /users/iquiry_form/:id/edit へのリンク追加 %>
    <% end %>
  </div>
</div>
