<% provide(:title, "メール返信登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @inquiry_reply, url: users_inquiry_replies_path, method: :post, local: true do |f| %>
      <%= render 'shared/error_massages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: InquiryReply.human_attribute_name(:title) %>
      <br>
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", rows: 5, placeholder: InquiryReply.human_attribute_name(:content) %>
      <br>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
    <% end %>
  </div>
</div>