<div class="card">
  <%= inquiry_form_item.fields_for :inquiry_item_selects do |inquiry_item_select| %>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-11">
          <%= inquiry_item_select.object_id %>
          <%= inquiry_item_select.text_field :name, class: "form-control", placeholder: InquiryItemSelect.human_attribute_name(:name) %>
        </div>
        <div class="col-sm-1">
          <%= link_to("#") do %>
            <i class="ion ion-trash-a"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card-footer">
    <%= link_to("#") do %>
      <i class="ion ion-plus-circled"></i>
    <% end %>
  </div>
</div>