<% provide(:title, "お問合せフォーム作成") %>
<% provide(:btn_text, "作成") %>

<div class="container">
  <%= form_with model: @inquiry_form, url: users_inquiry_form_path, method: :patch, local: true do |f| %>
    <%= render 'shared/error_massages', object: f.object %>
      <div class="card">
        <div class="card-body">
          <%= f.text_field :title, class: "form-control", placeholder: InquiryForm.human_attribute_name(:title) %>
        </div>
      </div>
      <br>
      <%= f.fields_for :inquiry_form_items do |inquiry_form_item| %>
        <div class="card">
          <div class="card-header">
            <%= render partial: 'inquiry_form_item', locals: { inquiry_form_item: inquiry_form_item } %>
          </div>
          <div class="card-body">
            <%= render partial: 'inquiry_input_content', locals: { inquiry_form_item: inquiry_form_item } %>
            <%= render partial: 'inquiry_item_select', locals: { inquiry_form_item: inquiry_form_item } %>
          </div>
          <div class="card-footer">
            <%= link_to("#") do %>
              <i class="ion ion-plus-circled"></i>
            <% end %>
            <%= link_to("#", class: "float-right") do %>
              <i class="ion ion-trash-a"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
  <% end %>
</div>
