<div class="register-box">
  <div class="card card-outline card-primary">	
    <div class="card-header text-center">	
      <a href="" class="h2"><b>Pulse In CRM</a>
    </div>	
    <div class="card-body">
      <p class="login-box-msg">パスワードを変更</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

          <%= f.label :password, t('.new_password') %>
          <br>※英数字大文字小文字混合で12文字以上<br />
          <div class="input-group mb-3">
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control", id:"textbox_password", placeholder:"例)ABCDefgh1234", required: true %>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
          </div>

          <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
          <div class="input-group mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"textbox_password", placeholder:"例)ABCDefgh1234", required: true %>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
          </div>

        <div class="actions">
          <%= f.submit t('.change_my_password'), class:"btn btn-primary btn-block" %>
        </div>
      <% end %>

<%= render "users/shared/links" %>
