<% provide(:title, "サンクスページ") %>
<% provide(:btn_text, "戻る") %>

<div class="jumbotron text-center">
  <h1>お問い合わせが送信されました</h1>
  <div class="card">
    <% if @thank.nil? %>
      <%= render partial: "default" %>
    <% else %>
      <%= markdown(@thank.thank).html_safe %>
    <% end%>
  </div>
  <div class="card-footer">
    <%= link_to "編集",edit_users_thank_path(@thank), class: "btn btn-md btn-block btn-primary" if current_user.role_admin? %>
    <%= link_to "ダッシュボードへ",users_dash_boards_path, class: "btn btn-md btn-block btn-default" if current_user.role_admin? || current_user.role_other? %>
    <%= link_to yield(:btn_text),'javascript:history.back()', class: "btn btn-md btn-block btn-default" %>
  </div>
</div>