<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h2"><b>Pulse In CRM</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">アカウント登録を行いましょう！</p>

      <%= form_for(resource, as: resource_name, url: create_user_registration_path(resource_name)) do |f| %>
        <label for=="login-item">名前（フルネーム）</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_name"></div>
        <div class="input-group mb-3">
          <%= f.text_field :name, class:"form-control", autofocus: true, id:"textbox_name",  placeholder:"例)山田 太郎", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <label for="login-item">メールアドレス</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_email"></div>
        <div class="input-group mb-3">
          <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"textbox_email", placeholder:"例)sample@gmail.com", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <label for=="login-item">企業名</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_company"></div>
        <%= f.fields_for :company do |c| %>
          <div class="input-group mb-3">
            <%= c.text_field :name, class:"form-control", id:"textbox_company", placeholder:"例)株式会社xx", required: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-building"></span>
              </div>
            </div>
          </div>
        <% end %>
        <label for="login-item">パスワード</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <br>※英数字大文字小文字混合で12文字以上</br>
        <div class="err_text" id="err_textbox_password"></div>
        <div class="input-group mb-3">

          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"textbox_password", placeholder:"例)ABCDefgh1234", required: true %>

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label for="login-item">パスワード確認用</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_password_confirmation"></div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"textbox_password_confirmation", placeholder:"例)ABCDefgh1234", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary" onclick="controlSubmit()">
              <input type="checkbox" id="agreeTerms" name="terms" required>
              <label for="agreeTerms">
                <%= link_to "利用規約", use_path %>に同意する
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div>
            <%= f.submit t('.sign_up'), class:"btn btn-primary btn-block", disabled: true, id:"sign_up_submit" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <%# <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> %>
      <br>
      <div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
