<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h2"><b>Pulse In CRM</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">アカウント登録を行いましょう！</p>

      <%= form_for(resource, as: resource_name, url: create_user_registration_path(resource_name)) do |f| %>
        <label for=="login-item">名前（フルネーム）</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_name"></div>
        <div class="input-group mb-3">
          <%= f.text_field :name, class:"form-control", autofocus: true, id:"textbox_name",  placeholder:"例)山田 太郎", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <label for="login-item">メールアドレス</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_email"></div>
        <div class="input-group mb-3">
          <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"textbox_email", placeholder:"例)sample@gmail.com", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <label for=="login-item">企業名</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_company"></div>
        <%= f.fields_for :company do |c| %>
          <div class="input-group mb-3">
            <%= c.text_field :name, class:"form-control", id:"textbox_company", placeholder:"例)株式会社xx", required: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-building"></span>
              </div>
            </div>
          </div>
        <% end %>
        <label for="login-item">パスワード</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <br>※英数字大文字小文字混合で12文字以上</br>
        <div class="err_text" id="err_textbox_password"></div>
        <div class="input-group mb-3">

          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"textbox_password", placeholder:"例)ABCDefgh1234", required: true %>

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label for="login-item">パスワード確認用</label>
        <span class="p-1 mb-2 bg-danger text-white">必須</span>
        <div class="err_text" id="err_textbox_password_confirmation"></div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"textbox_password_confirmation", placeholder:"例)ABCDefgh1234", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <label>プライバシーポリシー</label>
        <div class="policy">
          <li>本ウェブサイトは、株式会社〇〇（以下「当社」）の事業内容等を紹介するサイトです。</li>
          <li>個人情報保護方針</li>
          <li>当社は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</li>

          <li>個人情報の管理</li>
          <li>当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</li>

          <li>個人情報の利用目的</li>
          <li>本ウェブサイトでは、お客様からのお問い合わせ時に、お名前、e-mailアドレス、電話番号等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。</li>
          <li>お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</li>

          <li>個人情報の第三者への開示・提供の禁止</li>
          <li>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</li>
          <li>・お客さまの同意がある場合</li>
          <li>・お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</li>
          <li>・法令に基づき開示することが必要である場合</li>

          <li>個人情報の安全対策</li>
          <li>当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</li>

          <li>ご本人の照会</li>
          <li>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</li>

          <li>法令、規範の遵守と見直し</li>
          <li>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</li>

          <li>お問い合せ</li>
          <li>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</li>

          <li>株式会社〇〇</li>
          <li>〒〇〇〇-〇〇〇〇</li>
          <li>東京都〇〇区…</li>
          <li>お問い合わせはこちら(フォームへ)</li>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary" onclick="controlSubmit()">
              <input type="checkbox" id="agreeTerms" name="terms" required>
              <label for="agreeTerms">
                <%= link_to "利用規約", use_path %>に同意する
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div>
            <%= f.submit t('.sign_up'), class:"btn btn-primary btn-block", disabled: true, id:"sign_up_submit" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>
      <br>
      <div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
